@import url("https://fonts.googleapis.com/css?family=Prata|Assistant|Tangerine|");
@import "colors", "./../queries";


h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Assistant", serif;

  @include tablet-portrait  { font-size: 3.5rem; }
  @include tablet-landscape { font-size: 3.7rem; }
  @include desktop          { font-size: 4rem;   } 
  @include big-desktop      { font-size: 5rem;   }
}

h2 {
  font-family: 'Tangerine', cursive;
  font-size: 2.2rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: $secondary-color;
  
  @include tablet-portrait  { font-size: 3.2rem; }
  @include tablet-landscape { font-size: 3.4rem; }
  @include desktop          { font-size: 3.8rem; } 
  @include big-desktop      { font-size: 4.2rem; }
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.7rem;
  }

  @media (min-width: 1680px) {
    font-size: 1.9rem;
  }
}

h4 {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1680px) {
    font-size: 1.6rem;
  }

  p {
    font-family: "Prata", serif !important;
  }
}